*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cor-cabeçalho {
    z-index: 5;
    position:fixed;
    width: 100%;
    height: 22px;
    background-color: rgb(16, 112, 0);
}
#Cabeçalho {
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: white;
    z-index: 5;
    list-style-type:none;
    padding-bottom: 45px;
    margin-top: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;    
}
#Cabeçalho li {
    padding-top: 25px;
    display: inline-block;
    padding-left: 70px;
}
#Cabeçalho li a{
    color: black;
    text-decoration: none;
    padding: 0px;
    font-size: 30px;
    font-family: "comic neue";
    font-weight: 200;
}
#Imagem-Avatar{
    z-index: 5;
    width: 90px;
    position:relative;
    bottom: 60px;
    left: 1210px;
}
#Educação{
    height: 2673;
    width: 1440;
}
#Sistema_Objetivo{
    position: relative;
    bottom: 00px;
    background-color: rgba(190, 217, 185, 1);
    height: 700px;
    width: 100%;
}
#Texto-SO{
    position: relative;
    top: 210px;
    left: 80px;
}
#Texto-SO h1{
    font-size: 50px;
}
#Texto-SO p{
    font-size: 20px;
    text-align:center;
    padding-left: 430px;
    padding-right: 430px;
    position: relative;
    right: 400px;
    top: 80px;
}
#SO-IMG{
    z-index: 2;
    height: 430px;
    width: 570px;
    position: relative;
    left: 700px; 
    bottom: 60px;
}
#Sombra-SO{
    z-index: 1;
    height: 430px;
    width: 570px;
    position: relative;
    left: 165px;
    bottom: 25px;
}
#Curiosidades{
    position: relative;
    bottom: 00px;
    background-color: rgba(233, 255, 229,1);
    width: 100%;
    height: 800px;  

}

#Título-Curiosidades{
    position: relative;
    left: 10px;
    text-align: center;
    font-size: 60px;
    top: 30px;
}

#Texto-1-E{
    position: relative;
    left: 30px;
    top: 430px;
    text-align: center;
    padding-right: 450px;
    padding-left:450px;
    font-size: x-large;
}

#Vaccaro{
    z-index: 1;
    position: relative;
    top: 270px;
    left: 80px;
    height: 250px;
    width: 300px;
}

#Perdinelli{
    z-index: 1;
    position: relative;
    left: 240px;
    height: 250px;
    width: 250px;
}

#Morales{
    z-index: 1;
    position: relative;
    top: 270px;
    left: 450px;
    height: 250px;
    width: 250px;
}

#Cinza_1{
    z-index: 0;
    position: relative;
    right: 250px;
    bottom: 20px;
    height: 250px;
    width: 250px;
}

#Cinza_2{
    z-index: 0;
    height: 250px;
    width: 250px;
    position: relative;
    right: 30px;
    top: 250px;
}

#Cinza_3{
    z-index: 0;
    height: 250px;
    width: 300px;
    position: relative;
    left: 110px;
}
#Rodapé{
    background-color:rgba(94, 172, 82, 1) ;
    height: 327px;
    width: 100%;
    position: relative;
    top: 700px;
}  

#Eu-Img{
    position: relative;
    height: 200px;
    width: 200px;
    left: 135px;
    top: 30px;    
    border-radius: 23px    
}

#Eu-Texto{
    position: relative;
    width: 460px;
    height: 35px;
    left: 120px;
    top: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

#Logo_Insta{
    position: relative;
    width: 56px;
    height: 57px;
    left: 515px;
    bottom: 100px;
}

#Texto_Insta{
    position: relative;
    width: 460px;
    height: 35px;
    left: 585px;
    bottom:148px;
    font-size: 30px;
    align-items: center;
    color: white;
}

#Logo_Facebook{
    position: relative;
    width: 56px;
    height: 57px;
    left: 515px;
    bottom: 300px;

}

#Texto_Facebook{
    position: relative;
    width: 460px;
    height: 35px;
    left: 500px;
    bottom: 348px;
    font-size: 30px;
    align-items: center;
    text-align: center;
    color:white;
}

#Logo_Gmail{
    position: relative;
    width: 56px;
    height: 57px;
    left: 515px;
    bottom: 190px;
}

#Texto_Gmail{
    position: relative;
    width: 460px;
    height: 35px;
    left: 578px;
    bottom: 240px;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    color:white;
}

#Curriculo{
    position: relative;
    width: 460px;
    height: 35px;
    left: 1000px;
    bottom: 380px;
    font-size: 30px;
    align-items: center;
    text-align: center;
    color: rgb(0, 51, 255);
    text-decoration: none;
}